In [ ]:
#create a program capable of displaying questions to the user like KBC.
#use the list data type to store the question and their correct answer
#display the final amount the person is taking home after playing the game

In [1]:
print("capital of india is:")
print("a.delhi")
print("b.mumbai")
print("c.andra")
print("d.kalkotta")

capital of india is:
a.delhi
b.mumbai
c.andra
d.kalkotta

In [12]:
print("capital of india is:")
option=input("enter customer choose option :")
if(option=="a"):
  print("mumbai")
elif(option=="b"):
  print("delhi")
elif(option=="c"):
  print("andre")
else:
  print("kalkatta")

capital of india is:
enter customer choose option :b
delhi

f string in python

In [14]:
letter="my name is {} im from {}"
country="india"
name="spoorthi"
print(letter.format(name,country))

my name is spoorthi im from india

In [15]:
letter="my name is {1} im from {0}"
country="india"
name="spoorthi"
print(letter.format(country,name))

my name is spoorthi im from india

In [16]:
letter="my name is {} im from {}"
country="india"
name="spoorthi"
print(letter.format(country,name))

my name is india im from spoorthi

In [17]:
country="india"
name="spoorthi"
print(f"my name is {name} im from {country}")

my name is spoorthi im from india

In [18]:
text="for only {price:.2f} dollars"
print(text.format(price=49.0087653))

for only 49.01 dollars

In [19]:
price=45.476678
print(f"for only {price:.2f} dallers")

for only 45.48 dallers

In [21]:
print(type(f"{2*30}"))

<class 'str'>

In [23]:
print(f"hai my name is {{name}} and im from{{country}}")

hai my name is {name} and im from{country}

## doc string

In [28]:
#string literals that appears after string defination of a defination
#it should be below function name or above the function body def square(n):    # multiple comment line will also print here
def square(n):
  print(n)   # because of these line doc string would not execute
  '''square of a given number is'''
  print(n**2)
square (5)
print(square.__doc__)

5
25
None

In [25]:
def square(n):
  print(n**2)
square (5)

25

In [27]:
def square(n):    # multiple comment line will also print here
  '''square of a given number is'''
  print(n**2)
square (5)
print(square.__doc__)

25
square of a given number is

In [ ]:
#PEP 8 :python enhancement program:that provide guidelines and best practice on how to write python code

In [ ]:
#zen of python:

In [ ]:
#recursion:defining something in terms of itself

In [36]:
#factorial of 7!
def factoraial(n):
  if (n==0 or n==1) :
    return 1
  else:
    return n *factoraial(n-1)
factoraial(3)

6

In [ ]:
#fabinnoci series
#f0=0,f1=1,f3=f1+f0,fn=fn-1+fn-2

In [41]:
def fabinnoci(n):
  if n==0:
    return 0
  elif(n==1):
    return 1
  else:
    return fabinnoci(n-1)+fabinnoci(n-2)
  fabinnoci(7)

In [ ]:
#sets:set is unordered collection of data items,repeated values are not allowed

In [42]:
s={2,4,2,6}
print(s)

{2, 4, 6}

In [44]:
t={"spoo","moksha","krish",6,7,8}  # inordered collection of data items
t

{6, 7, 8, 'krish', 'moksha', 'spoo'}

In [45]:
spoo={8,9,0,"spoo","arya","arvi"}
print(type(spoo))

<class 'set'>

In [46]:
spoo={}
print(type(spoo))

<class 'dict'>

In [47]:
spoo=set()  #to create an empty set
print(type(spoo))

<class 'set'>

In [48]:
spoo={8,9,0,"spoo","arya","arvi"}
for i in spoo:
  print(i)

0
arvi
spoo
8
9
arya

In [50]:
#sets method
#union()
s1={1,2,3,4,6}
s2={7,8,9,10,11}
print(s1.union(s2))
print(s1,s2)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 6} {7, 8, 9, 10, 11}

In [52]:
s1.update(s2)
print(s1,s2)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11} {7, 8, 9, 10, 11}

In [55]:
#intersection and update
s1={1,2,3,4,6}
s2={7,8,9,1,2}
print(s1.intersection(s2))
s1.update(s2)
print(s1,s2)

{1, 2}
{1, 2, 3, 4, 6, 7, 8, 9} {1, 2, 7, 8, 9}

In [58]:
s1={1,2,3,4,6}
s2={7,8,9,1,2}
s1.intersection_update(s2)
print(s1,s2)

{1, 2} {1, 2, 7, 8, 9}

## **symmetric difference**

In [ ]:
A Union B(-)A intersection B

In [60]:
s1={1,2,3,4,6}
s2={7,8,9,1,2}
s3=(s1.intersection(s2))
print(s3)

{1, 2}

In [61]:
s1={1,2,3,4,6}  #difference gives an value of one set which is not common in both
s2={7,8,9,1,2}
s3=(s1.difference(s2))
print(s3)

{3, 4, 6}

In [62]:
#disjoined sets :no common element
s1={1,2,3,4,6}
s2={7,8,9,1,2}
print(s1.isdisjoint(s2))

False

In [64]:
s1={1,2,3,4,6}
s2={7,8,9,1,2}   #element s1 should be there in s2
print(s1.issuperset(s2))

False

In [65]:
s1={1,2,3,4,6}
s3={1,2}
print(s3.issubset(s1))

True

In [67]:
s1={1,2,3,4,6}
s1.add(8)
print(s1)

{1, 2, 3, 4, 6, 8}

In [73]:
s1={1,2,3,4,6}  # more that 1 value to be added
s2={5,7,8,9}
s4=s1.update(s2)
print(s4)

None

In [74]:
s1={1,2,3,4,6}
s1.remove(1)  #if mentioned element is not found in a s1 then it raise an error
print(s1)

{2, 3, 4, 6}

In [75]:
s1={1,2,3,4,6}
s1.discard(7)   #if mentioned element is not found in a s1 then it raise no error
print(s1)

{1, 2, 3, 4, 6}

In [76]:
s1={1,2,3,4,6}
s3=s1.pop()
print(s1)
print(s3)

{2, 3, 4, 6}
1

In [82]:
s1={1,2,3,4,6}
del s1  #  remove completely along with elemnet no output will consider

In [83]:
s1={1,2,3,4,6}
s1.clear()
print(s1)  #  remove all element from set

set()

In [84]:
s1={1,2,3,4,6}
if 1 in s1:
  print("1 is found")
else:
  print("1 is not found")

1 is found

In [ ]:
#